<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="../static/styles/allListings.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/a64b47fd82.js"></script>
        <link rel="stylesheet" href="../static/styles/testHome.css">
        <link rel="stylesheet" href="../static/styles/homeresponsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"> 
        <title>User DashBoard</title>
        <style>
            .black{
                text-align: left;
                color: black;
            }

            .right{
                margin-right: 10px;
            }
        </style>

    </head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- certified freak, 7 days a week -->
    <body class="body1" onload=javascript:getAllOffers1()>
        <div id="navbar"></div>
                    
    
        <div class="overlay" id="app">
            <h1 class='mt-3 header text-center display-4'>
                Main Dashboard

            </h1>

            <!-- Notifications  -->

            <div class="container black">
                <div class="row d-flex justify-content-center" id="offer_header"> 
                </div>

                <div class="row d-flex justify-content-center" id="offer_notification"> 
                </div>
            </div>
        </div>
        
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script>
        $.get("navbarUser.html", function(data){
            $("#navbar").replaceWith(data);
        });
        </script>

        <script>
            var array_of_child = [];
            var array_of_tutor = [];
            var childName1 = "";
            var offer_subject = "";
            var offer_level = "";
            var offer_tutor = "";
            var get_all_URL = "http://localhost:5001/assignmentByUser";
        </script>        
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script>
        $.get("navbarUser.html", function(data){
            $("#navbar").replaceWith(data);
        });
        </script>
        <script>
            var userID = localStorage.getItem("userID");
            var app = new Vue({
                el: "#app",
                computed: {
                    hasAssignments: function () {
                        return this.assignments.length > 0;
                    }
                },
                data: {
                    userID: userID,
                    "assignments": [],
                    message: "There is a problem retrieving the assignment data, please try again later.",
                    childId: "",
                    subject: "",
                    location: "",
                    expectedPrice: "",
                    preferredDay: "",
                    assignmentAdded: false,
                    addAssignmentError: "",
                    createdAssignment: "",
                    assignmentCreated: false,
                    creationSuccessful: false,
                },
                methods: {
                    getAllAssignments: function () {
                        // on Vue instance created, load the book list
                        const response =
                            fetch(get_all_URL+`/${userID}`)
                                .then(response => response.json())
                                .then(data => {
                                    for (assignment of data.assignments){
                                        array_of_child.push(assignment.assignmentId);
                                        array_of_child.push(assignment.childName);
                                        if (assignment.primary){
                                            offer_level = "Primary ";
                                        }
                                        else {
                                            offer_level = "Secondary "
                                        }
                                        offer_level += assignment.level;
                                        array_of_child.push(offer_level);
                                        array_of_child.push(assignment.subject);
                                    }

                                    if (data.code === 404) {
                                        // none returned
                                        this.message = data.message;
                                    }
                                })
                                .catch(error => {
                                    // Errors when calling the service; such as network error, 
                                    // service offline, etc
                                    console.log(this.message + error);
                                });
    
                    }
            
                },
                created: function () {
                    // on Vue instance created, load the book list
                    this.getAllAssignments();
                }
            });
            </script>
            <script>
            function getAllOffers() {
                var userID = localStorage.getItem("userID")
                            const response = 
                            fetch("http://localhost:5002/created"+`/${userID}`)
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.code === 404) {
                                            this.message = data.message;
                                        } else {
                                           var no_of_offers = (data.offers).length
                                           if (no_of_offers == 0){
                                               document.getElementById("offer_header").innerHTML = "You got no new offers!"
                                           }
                                           else {
                                            document.getElementById("offer_header").innerHTML = `You have ${no_of_offers} Offer Notifications!`
                                           }
                                           for (offer of data.offers){
                                                for (i=0;i<array_of_child.length;i+=4){
                                                if (array_of_child[i]==offer.assignmentId){
                                                    childName1 = array_of_child[i+1]
                                                    offer_subject = array_of_child[i+3]
                                                    offer_level = array_of_child[i+2]
                                                    var temp69 = offer.tutorID 
                                                    for (m=0; m < array_of_tutor.length;m++){
                                                        if (temp69 == array_of_tutor[m]){
                                                            offer_tutor = array_of_tutor[m+1]
                                                        }
                                                    }
                                                    document.getElementById("offer_notification").innerHTML += `
                                                    <div class="card text-center border-light mb-3" style="max-width: 30rem; margin:10px">
                                                    <div class="card-header">Offer Notification</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Tuition for ${childName1}</h5>
                                                    <p class="card-text"><b>${offer_tutor}</b> has offered to teach <b>${childName1}</b> for ${offer_level} ${offer_subject}!</p>
                                                    <p class="card-text"><b>${offer.preferredDay} @ ${offer.selectedTime} for $${offer.expectedPrice}/Hr</b></p>                            
                                                    </div>
                                                    <div class="mx-3" style="text-align:center;">
                                                    <a href="offerUser.html" type="button" class="btn btn-outline-primary mb-3" >Check Offer!</a>
                                                    </div>
                                                    </div>
                                                    `
                                                }
                                           }
                                           }
                                          
                                        }
                                    })
                                    .catch(error => {
                                        console.log(error)
                                    });
            }
        </script>
        <script>
        function getAllOffers1() {
        // on Vue instance created, load the book list

        var userID = localStorage.getItem("userID")
        const response =
            fetch(`http://localhost:5001/test/` + `${userID}`)
                .then(response => response.json())
                .then(huh => {
                    if (huh.code === 400) {
                        message = huh.message;
                    } else {
                            for (temp1 of huh.message){
                                array_of_tutor.push(temp1[1].tutorID);
                                array_of_tutor.push(temp1[1].tutorName);
                             }
                                }
                            }
                         )  
                .catch(error => {
                    console.log( error);
                });
                getAllOffers()
    }
        </script>
        
    
    </body>
</html>