<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="../static/styles/allListings.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/a64b47fd82.js"></script>
        <link rel="stylesheet" href="../static/styles/testHome.css">
        <link rel="stylesheet" href="../static/styles/homeresponsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"> 
        <title>All Listings</title>

        <style>
            .black{
                text-align: left;
                color: black;
            }

            .right{
                margin-right: 10px;
            }
        </style>

    </head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- certified freak, 7 days a week -->
    <body class="body1" onload=javascript:getAllOffers1()>
        <div id="navbar"></div>
                    
    
        <div class="overlay" id="app">
            <h1 class='mt-3 header text-center display-4'>
                Main Dashboard

            </h1>

            <!-- Notifications  -->

            <div class="container black">
                <h4 class='mb-3 display-4' style="text-align:left;">
                    Notifications
                </h4>

                <div class="row">
                    <div class="col-sm-7" id="offer_notification">
                        <h2 class="mb-3">Offers</h2>
                        <h3 id="offer_header"></h3>        
                    </div>

                    <div class="col-sm-5">
                        <h2 class="mb-3">Payment</h2>
                        <h3>You have 1 Payment Notification! </h3>

                        <div class="card text-center border-light mb-3" style="max-width: 40rem;">
                            <div class="card-header">Payment Notification</div>
                            <div class="card-body">
                            <h5 class="card-title">Payment for {tutorName}</h5>
                            <p class="card-text">Please pay <b>{amount}</b> for {childID}'s tuition with <b>{tutorName}</b></p>
                            </div>
                        

                            <div class="mx-3" style="text-align:center;">
                                <a href="payment.html" type="button" class="btn btn-outline-primary mb-3" >Make Payment!</a>
                            </div>
                        </div>

                        
                    </div> 
                </div>



                
                
            </div>

            <div class="container mt-3 black">
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <h4 class='mx-3  display-4' style="text-align:left;">Tuition Schedule</h4>
                        
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">childID</th>
                                    <th scope="col">Primary/Secondary</th>
                                    <th scope="col">Level</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">tutorName</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>0001</td>
                                    <td>Primary</td>
                                    <td>4</td>
                                    <td>Mathematics</td>
                                    <td>Bob</td>
                                    <td>22/07/2021</td>
                                    <td>1600</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>0002</td>
                                    <td>Secondary</td>
                                    <td>4</td>
                                    <td>Physics</td>
                                    <td>Greg</td>
                                    <td>20/07/2021</td>
                                    <td>1200</td>
                                </tr>
                                
                            </tbody>
                        </table>

                        
                    </div>
                </div>

                
                    
                    
            </div>

                
            </div>
        </div>
        
        <script>
            console.log("user localStorage check")
            console.log(localStorage.getItem("userID"));
            console.log(localStorage.getItem("userName"));
            console.log(localStorage.getItem("userEmail"));
        </script>

        

        
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script>
        $.get("navbarUser.html", function(data){
            $("#navbar").replaceWith(data);
        });
        </script>

        <script> var user = "<?=$user ?>"; console.log(user);</script>

        <script>
            var array_of_child = [];
            var array_of_tutor = [];
            var childName1 = "";
            var offer_subject = "";
            var offer_level = "";
            var offer_tutor = "";
            var get_all_URL = "http://localhost:5001/assignmentByUser";
            // var place_order_URL = "http://localhost:5100/place_order";
    
            var app = new Vue({
                el: "#app",
                computed: {
                    hasAssignments: function () {
                        return this.assignments.length > 0;
                    }
                },
                data: {
                    userID: 1,
                    "assignments": [],
                    message: "There is a problem retrieving the assignment data, please try again later.",
                    childId: "",
                    subject: "",
                    location: "",
                    expectedPrice: "",
                    preferredDay: "",
                    assignmentAdded: false,
                    addAssignmentError: "",
                    createdAssignment: "",
                    assignmentCreated: false,
                    creationSuccessful: false,
                },
                methods: {
                    getAllAssignments: function () {
                        // on Vue instance created, load the book list
                        const response =
                            fetch(get_all_URL+`/${this.userID}`)
                                .then(response => response.json())
                                .then(data => {
                                     console.log(response);
                                    // console.log("meep");
                                    console.log(data.assignments)
                                    for (assignment of data.assignments){
                                        // console.log(assignment.assignmentId);
                                        // console.log(assignment.childName);
                                        array_of_child.push(assignment.assignmentId);
                                        array_of_child.push(assignment.childName);
                                        if (assignment.primary){
                                            offer_level = "Primary ";
                                        }
                                        else {
                                            offer_level = "Secondary "
                                        }
                                        offer_level += assignment.level;
                                        array_of_child.push(offer_level);
                                        array_of_child.push(assignment.subject);
                                        array_of_child.push(assignment.tutorID);
                                    }

                                    if (data.code === 404) {
                                        // no book in db
                                        this.message = data.message;
                                    } else {
                                        this.subject = data.data.subjects;
                                    }
                                })
                                .catch(error => {
                                    // Errors when calling the service; such as network error, 
                                    // service offline, etc
                                    console.log(this.message + error);
                                });
    
                    },
                    addBook: function () {
                        // reset data
                        this.bookAdded = false;
                        this.addBookError = "";
    
                        let jsonData = JSON.stringify({
                            title: this.newTitle,
                            price: this.newPrice,
                            availability: this.newAvailability
                        });
    
                        fetch(`${get_all_URL}/${this.newISBN13}`,
                            {
                                method: "POST",
                                headers: {
                                    "Content-type": "application/json"
                                },
                                body: jsonData
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                                result = data.data;
                                console.log(result);
                                // 3 cases
                                switch (data.code) {
                                    case 201:
                                        this.bookAdded = true;
    
                                        // refresh book list
                                        this.getAllBooks();
    
                                        // an alternate way is to add this one element into this.books
                                        break;
                                    case 400:
                                    case 500:
                                        this.addBookError = data.message;
                                        break;
                                    default:
                                        throw `${data.code}: ${data.message}`;
                                }
                            })
                    }
                  },
                created: function () {
                    // on Vue instance created, load the book list
                    this.getAllAssignments();
                }
            });
            </script>
            <script>
            function getAllOffers() {
                var userID = localStorage.getItem("userID")
                            const response = 
                            fetch("http://localhost:5002/created"+`/${userID}`)
                                    .then(response => response.json())
                                    .then(data => {
                                        // console.log(data)
                                        if (data.code === 404) {
                                            //alert("You got no offers dude")
                                            this.message = data.message;
                                        } else {
                                           //console.log(data.offers);
                                           var no_of_offers = (data.offers).length
                                           //alert(no_of_offers)
                                           if (no_of_offers == 0){
                                               document.getElementById("offer_header").innerHTML = "You got no new offers!"
                                           }
                                           else {
                                            document.getElementById("offer_header").innerHTML = `You have ${no_of_offers} Offer Notifications!`
                                           }
                                           for (offer of data.offers){
                                                for (i=0;i<array_of_child.length;i+=5){
                                                //alert(array_of_child[i]);
                                                if (array_of_child[i]==offer.assignmentId){
                                                    childName1 = array_of_child[i+1]
                                                    offer_subject = array_of_child[i+3]
                                                    offer_level = array_of_child[i+2]
                                                    offer_tutor = array_of_child[i+4]
                                                    alert(array_of_child);
                                                    for (m=0; m < array_of_tutor.length;m++){
                                                        if (array_of_tutor[m] == offer_tutor){
                                                            offer_tutor = array_of_tutor[m+1]
                                                        }
                                                    }
                                                    document.getElementById("offer_notification").innerHTML += `
                                                    <div class="card text-center border-light mb-3" style="max-width: 30rem;">
                                                    <div class="card-header">Offer Notification</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Tuition for ${childName1}</h5>
                                                    <p class="card-text"><b>${offer_tutor}</b> has offered to teach <b>${childName1}</b> for ${offer_level} ${offer_subject}!</p>
                                                    <p class="card-text"><b>${offer.preferredDay} @ ${offer.selectedTime} for $${offer.expectedPrice}/Hr</b></p>                            
                                                    </div>
                                                    <div class="mx-3" style="text-align:center;">
                                                    <a href="offer.html" type="button" class="btn btn-outline-primary mb-3" >Check Offer!</a>
                                                    </div>
                                                    </div>
                                                    `
                                                }
                                           }
                                           }
                                          
                                        }
                                    })
                                    .catch(error => {
                                        // Errors when calling the service; such as network error, 
                                        // service offline, etc
                                        //console.log(this.message + error);
        
                                    });
            }
        </script>
        <script>
        function getAllOffers1() {
        // on Vue instance created, load the book list

        var userID = localStorage.getItem("userID")
        const response =
            fetch(`http://localhost:5001/test/` + `${userID}`)
                .then(response => response.json())
                .then(huh => {
                    //console.log(huh);
                    if (huh.code === 400) {
                        message = huh.message;
                    } else {
                            console.log(huh.message)
                            for (temp1 of huh.message){
                                console.log(temp1[1]);
                                // console.log(temp1[1].tutorID);
                                // console.log(temp1[1].tutorName);
                                array_of_tutor.push(temp1[1].tutorID);
                                array_of_tutor.push(temp1[1].tutorName);
                             }
                            alert(array_of_tutor);
                                }
                            }
                         )  
                .catch(error => {
                    console.log( error);
                });
                getAllOffers()
    }
        //console.log(array_of_tutor);
        </script>
        
    
    </body>
</html>