<!-- NAVBAR NOW IS HARDCODED TO ALWAYS SHOW THE LOGIN/SIGNUP FOR EASY ACCESS -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light" id="test1">
        <a class="navbar-brand" href="index.html">Welcome Tutor</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: white;"></span>
        </button> -->
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
                <button type="button" class="btn btn-linkNav" style="margin-top: 15px; padding-top:12px;" onclick="toggleSearch()"></button>
            </li> -->
            <li class="nav-item active">
                <a class="nav-link" href="tutorDashboard.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tutorSearch.html">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tutorOffer.html">Offer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tutorProfile.html">Profile</a>
            </li>

        <!-- <?php 
          //Displays different buttons depending on tutor session status (whether tutor is logged in or not)
            if ( !isset($_SESSION["tutor"]) ) {
            echo "-->
            <li class='nav-item'>
                <a class='nav-link' href='loginPage.html' id='login'>Log Out</a>
            </li>
           <!-- UPDATED ONE  -->
            <!-- <li class='nav-item'>
                <a class='nav-link' href='registerPage.html' id='signup'>Sign Up</a>
            </li> -->
            <!--";
            }
            else{
            echo "
            <li class='nav-item'>
                <a class='nav-link' href='tutorProfile.html'>Profile</a>
            </li>    
            
            ";
            }
        ?> -->
            
            </ul>
        </div>
</nav>