<?php
    session_start();
    if ( !isset($_SESSION["user"]) ) {
      $user = 'no';
      
    }
    else{
        $user = $_SESSION["user"];
    }
?>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="css/allListings.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/a64b47fd82.js"></script>
        <link rel="stylesheet" href="css/testHome.css">
        <link rel="stylesheet" href="css/homeresponsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"> 
        <title>All Listings</title>
    </head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
   
    <body class="body1" >
        <div id="navbar"></div>
                    
    
        <div class="overlay" id="app">
            <h1 class='mt-3 header text-center display-4'>Your Offers</h1>
            <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th scope="col">Child</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Preferred Day</th>
                    <th scope="col">Tutor</th>
                    <th scope="col">Accept</th>
                    <th scope="col">Reject</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Pri_Eng</td>
                    <td>5</td>
                    <td>Joel</td>
                    <!-- <td><button type="button" value="Delete Row" onclick="SomeDeleteRowFunction()">Primary</button></td> -->
                    <td><input type="button" value="Accept!" onclick="acceptFunction(this)" style="border-radius:5px; background-color: rgb(33, 102, 194);"></td>
                    <td><input type="button" value="Reject" onclick="deleteRow(this)" style="border-radius:5px; background-color: rgb(187, 43, 38);"></td>

                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Pri_Chi</td>
                    <td>5</td>
                    <td>Soon Hao</td>
                    <td><input type="button" value="Accept!" onclick="acceptFunction(this)" style="border-radius:5px; background-color: rgb(33, 102, 194);"></td>
                    <td><input type="button" value="Reject" onclick="deleteRow(this)" style="border-radius:5px; background-color: rgb(187, 43, 38);"></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Sec_Chem</td>
                    <td>5, 7</td>
                    <td>Edena</td>
                    <td><input type="button" value="Accept!" onclick="acceptFunction(this)" style="border-radius:5px; background-color: rgb(33, 102, 194);"></td>
                    <td><input type="button" value="Reject" onclick="deleteRow(this)" style="border-radius:5px; background-color: rgb(187, 43, 38);"></td>
                  </tr>
                </tbody>
              </table>
            </br>
          </br>
      </br>
        </div>
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script>
        $.get("navbarUser.html", function(data){
            $("#navbar").replaceWith(data);
        });
        </script>

        <script> var user = "<?=$user ?>"; console.log(user);</script>
        need edit scrips
        <!-- <script src="./js/homeui.js"></script> -->
        
        <script>
            var username  = '<?php echo $user;?>';
            console.log(user)

            var get_all_URL = "http://localhost:5001/assignmentByUser";
            // var place_order_URL = "http://localhost:5100/place_order";
    
            var app = new Vue({
                el: "#app",
                computed: {
                    hasAssignments: function () {
                        return this.assignments.length > 0;
                    }
                },
                data: {
                    userID: 1,
                    "assignments": [],
                    message: "There is a problem retrieving the assignment data, please try again later.",
                    childId: "",
                    subject: "",
                    location: "",
                    expectedPrice: "",
                    preferredDay: "",
                    assignmentAdded: false,
                    addAssignmentError: "",
                    createdAssignment: "",
                    assignmentCreated: false,
                    creationSuccessful: false,
                },
                methods: {
                    getAllAssignments: function () {
                        // on Vue instance created, load the book list
                        const response =
                            fetch(get_all_URL+`/${this.userID}`)
                                .then(response => response.json())
                                .then(data => {
                                    console.log(response);
                                    console.log("meep");
                                    console.log(data.assignments)
                                    if (data.code === 404) {
                                        // no book in db
                                        this.message = data.message;
                                    } else {
                                        this.subject = data.data.subjects;
                                        
                                    }
                                })
                                .catch(error => {
                                    // Errors when calling the service; such as network error, 
                                    // service offline, etc
                                    console.log(this.message + error);
    
                                });
    
                    },
                    addBook: function () {
                        // reset data
                        this.bookAdded = false;
                        this.addBookError = "";
    
                        let jsonData = JSON.stringify({
                            title: this.newTitle,
                            price: this.newPrice,
                            availability: this.newAvailability
                        });
    
                        fetch(`${get_all_URL}/${this.newISBN13}`,
                            {
                                method: "POST",
                                headers: {
                                    "Content-type": "application/json"
                                },
                                body: jsonData
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                                result = data.data;
                                console.log(result);
                                // 3 cases
                                switch (data.code) {
                                    case 201:
                                        this.bookAdded = true;
    
                                        // refresh book list
                                        this.getAllBooks();
    
                                        // an alternate way is to add this one element into this.books
                                        break;
                                    case 400:
                                    case 500:
                                        this.addBookError = data.message;
                                        break;
                                    default:
                                        throw `${data.code}: ${data.message}`;
                                }
                            })
                    }
                  },
                created: function () {
                    // on Vue instance created, load the book list
                    this.getAllAssignments();
                }
            });
        </script>
                <script>
                    function acceptFunction(w) {
                    alert("Offer has been accepted!");
                    var q = w.parentNode.parentNode.rowIndex;
                    document.getElementById("myTable").deleteRow(q);
                    }
                    function deleteRow(r) {
                        var i = r.parentNode.parentNode.rowIndex;
                        document.getElementById("myTable").deleteRow(i);
                    }
                    </script>
    
    </body>
</html>