<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- <link rel="stylesheet" href="css/allListings.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/a64b47fd82.js"></script>
        <!-- <link rel="stylesheet" href="css/testHome.css">
        <link rel="stylesheet" href="css/homeresponsive.css"> -->
        <link rel="stylesheet" href="../static/styles/testHome.css">
        <link rel="stylesheet" href="../static/styles/homeresponsive.css">
        <link rel="stylesheet" href="../static/styles/loginRegister.css">
        <link rel="stylesheet" href="../static/styles/stripe.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"> 
        <title>All Listings</title>
    </head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        $(document).ready(function(){
            $(".show-modal").click(function(){
                $("#stripeModal").modal({
                    backdrop: 'static',
                    keyboard: false
                });
            });
        });

    </script>
    <body>
        <div id="navbar"></div>
        <div class="container-fluid">
            <div class="row" style="padding-top: 30px;">
                <div class="col-lg-6 col-md-6 d-none d-md-block image-container1">
                </div>
                <div class="col-lg-6 col-md-12 form-container">
                    <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                        <div class="logo mb-3">
                            
                        </div>
                        <div class="heading mb-7" id="success">
                            <h4>Register for an account</h4>
                        </div>
                        <div id="buttonUp">
                            <div class="text-center m-7  w-100">
                                <button type="submit" class="btn p-7 w-100" style="background-color: #25a2ed;" onclick="tutorClicked()">Tutor</button>
                            </div>
                            <div class="text-center m-7 w-100">
                                <button type="submit" class="btn  p-7 w-100" style="background-color: #bcfb7c;" onclick="userClicked()">User</button>
                            </div>
                        </div>
                            
                        <form id="formallyYours" style="display:none">
                            <div class="form-input">
                                <span></span>
                                    <input type="text" id="username" placeholder="Username" required>
                            </div>
                            <div class="form-input">
                                <span></span>
                                    <input type="email" id="email" placeholder="Email Address" required>
                            </div>
                            <div class="form-input">
                                <span></span>
                                <input type="password" id="password" placeholder="Password" required>
                            </div>
                            <div class="form-input">
                                <span></span>
                                <input type="number" id="phoneNumber" placeholder="Contact Number">
                            </div>
                            <div class="form-input">
                                <span></span>
                                <input type="text" id="location" placeholder="location" required>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 d-flex">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cb1" required>
                                        <label class="custom-control-label text-white" for="cb1" required>I agree to all <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="terms">terms & condition</a></label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-left mb-3" id="different">
                                
                            </div>
                            
                        </form>
                        <div style="color: #fff">Already have an account?
                            <a href="loginPage.html" class="registerLink">Click Here to Login</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal FOR STRIPE CONNECT -->
    <div class="modal fade" id="stripeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLong">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              By registering with our platform, we charges a 5% commision on all payments made to keep our servers running. All tutors are requried to onboard with their stripe account in order to receive payment. 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              <a class="stripe-connect" id="connect"><span>Connect with </span></a>
            </div>
          </div>
        </div>
      </div>
<!-- END OF MODAL  -->
      <script src="//code.jquery.com/jquery.min.js"></script>
      <!-- FIX NAVBAR AFTER SESSION!!! -->
      <script>
      $.get("navbarGuest.html", function(data){
          $("#navbar").replaceWith(data);
      });
      </script>
        <script src="js/homeui.js"></script>
<script>
    function userClicked(){
        document.getElementById("different").innerHTML = `<button type="button" class="btn" onclick="createUser()">Sign Up</button>`;
        document.getElementById("formallyYours").style.display="block";
        document.getElementById("buttonUp").style.display="none";
    }
    // @SOONZZZZZZ PLS THROW YOUR FANCY CONNECTSTRIPE BELOW HERE
    // NOOO i am putting it under the modal m8 can't stop me :D 
    // but i think the flow a bit weird. but it's fine as long as it works lol. 
    function tutorClicked(){
        document.getElementById("different").innerHTML = `<button type="button" class="btn" onclick="storeData()" data-toggle="modal" data-target="#stripeModal">Sign Up</button>`;
        document.getElementById("formallyYours").style.display="block";
        document.getElementById("buttonUp").style.display="none";
    }


    // hardcoded URL 
    var user_URL = "http://localhost:5004/createUser";
    // var tutor_URL = `http://localhost:5004/seeChild`; 
    // var stripe_url = "http://localhost:5000/onboard-user";
    var stripe_url="http://127.0.0.1:5007/onboard-user"

    let elmButton = document.getElementById('connect');
    console.log(elmButton);
    if (elmButton) {
    elmButton.addEventListener(
        "click",
        e => {
        elmButton.setAttribute("disabled", "disabled");
        elmButton.textContent = "Opening...";

        fetch(stripe_url, {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
            if (data.url) {
                window.location = data.url;
            } else {
                elmButton.removeAttribute("disabled");
                elmButton.textContent = "<Something went wrong>";
                console.log("data", data);
            }
            });
        },
        false
    );
    }
    function storeData(){

        var tutorID = Math.floor((Math.random() * 696969) + 1);
        var tutorName = document.getElementById("username").value;
        var tutorEmail = document.getElementById("email").value;
        var passw = document.getElementById("password").value;
        var tutorPhone = document.getElementById("phoneNumber").value;
        var loc = document.getElementById("location").value;
        document.cookie = `tutorID=${tutorID}; path=registerTutorFallback.html`;
        document.cookie = `tutorName=${tutorName}; path=registerTutorFallback.html`
        document.cookie = `tutorEmail=${tutorEmail}; path=registerTutorFallback.html` 
        document.cookie = `passw=${passw}; path=registerTutorFallback.html`
        document.cookie = `tutorPhone=${tutorPhone}; path=registerTutorFallback.html`
        document.cookie = `loc=${loc}; path=registerTutorFallback.html`
        "document.cookie = "+document.cookie
    }

    //NOT DONE SETTING UP POST INFO!!!!!! @ALL             
    function createUser(){
        
        //retrieves and stores childData from user microservice
        // alert("check")
        alert(document.getElementById("password").value)
        //retrieves and stores form data
        // this.childName = document.getElementById("childrens").value;
        // this.subject = document.getElementById("subjects").value;
        //alert(selected_subject);
        // var selected_Eprice = document.getElementById("expected_price").value;
        // alert(this.subject);
        //prepares posting data
        let jsonData = JSON.stringify({
            "userID": Math.floor((Math.random() * 696969) + 1), 
            "userName": document.getElementById("username").value, 
            "userEmail": document.getElementById("email").value,
            "passw": document.getElementById("password").value, 
            "userPhone": document.getElementById("phoneNumber").value,
            "loc": document.getElementById("location").value
        });
        //posts creates a new assignment
        fetch(user_URL,
            {
                method: "POST",
                headers: {
                    "Content-type": "application/json"
                },
                body: jsonData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                result = data.data;
                console.log(result);
                // 3 cases
                switch (data.code) {
                    case 201:
                        alert("yayyyyy")

                        // refresh assignment list
                        // alert("meeeeep")
                        document.getElementById("formallyYours").style.display="none";
                        document.getElementById("success").innerHTML = `<h4>Your registration was successful!</h4><p>You will be redirected to the Login Page in a moment</p>`;
                        window.setTimeout(function(){
                            // Move to a new location or you can do something else

                            window.location.href = "loginPage.html";
                        }, 5000);
                        // an alternate way is to add this one element into this.books
                        break;
                    case 400:
                    case 500:
                        alert("not so great")
                        break;
                    default:
                        throw `${data.code}: ${data.message}`;
                }
            }).catch(error => {
                    // Errors when calling the service; such as network error, 
                    // service offline, etc
                    alert("Please complete the form before sending!");

                });
    }

</script>
      
    </body>
</html>