
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="../static/styles/allListings.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/a64b47fd82.js"></script>
        <link rel="stylesheet" href="../static/styles/testHome.css">
        <link rel="stylesheet" href="../static/styles/homeresponsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"> 
        <title>Search Tutor</title>
        <style>
          .pic{
              background-image: url("../images/emailDefault.jpg");
              background-repeat: no-repeat;
              background-size: contain;
              height: 100%;
          }
          .p-2{
              height: 400px;
          }
          .midText{
              background-color: #FAFAFA;
              width: 100%;
              text-align: center;
              color: grey;
          }

          .black{
              color: black;
          }

          .scrollable{
            overflow-y: auto;
            max-height: 360px;
            
            }
      </style>
    </head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
   
    <body class="body1" >
        
    <div class="black" id="navbar"></div>      
    
        <div class="overlay" id="app">
            <h1 class='mt-3 header text-center display-4'>Tutor Search</h1>
            <div style="margin: 50px;">
                
                <div class="d-flex bd-highlight container">
                <!-- separate the cards from the expanded portion -->
                    <div id="tutorcard" class="bd-highlight scrollable">
                        
                    </div>
                    <div class="mx-3 flex-grow-1 bd-highlight midText">
                        <!-- add placeholder here -->
                        <div class="position-relative mx-5 pic" id="expandedInfo">
                            <div >
                                <div class="position-absolute top-50 start-50 translate-middle" >
                                    <h1 >No assignments currently selected</h1>
                                </div>

                                
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                

            </div>
        </div>
        <script>
            function toBeExpanded(userID){
                
                // document.getElementById('expandedInfo').innerHTML = 
                //             `
                //             <div>
                //                 <div class="position-absolute top-50 start-50 translate-middle" id="midText">
                //                     <h1>No assignments currently selected</h1>
                //                     <div id="pic"></div>
                //                 </div>
                                    
                //             </div>
                //             `;
                //     alert('button is clicked mofo');
                var element = document.getElementById("expandedInfo");
                element.classList.remove("pic");

                    const response =
                    fetch(get_user_URL+`/${userID}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log("why");
                            console.log(response);
                            console.log("even");
                            console.log(data.message);
                            if (data.code === 404) {
                                // no book in db
                                this.message = data.message;
                            } else {
                                for (each of data.message){
                                //NOT DONE YET
                                
                                console.log("brr");
                                console.log(each)
                                // alert("For each assignemnt it willl loop")
                                var parentName =each[0].userName;
                                var parentPhone =each[0].userPhone;
                                var parentEmail =each[0].userEmail;
                                var location =each[0].loc;
                                
                                console.log('yooooo');
                                console.log(location);

                                
                                var childName = each[1].childName;
                                var school = each[1].school;
                                var level = each[1].lvl;
                                var Primary = each[1].pri;

                                if(Primary){
                                    Primary = "Primary";
                                }
                                else{
                                    Primary = "Secondary"
                                }

                                

                                console.log("level");
                                console.log(level);
                                
                                // alert(primary1)
                                //alert(assignmentID);
                                document.getElementById("expandedInfo").innerHTML = `
                                <div class="black" style="text-align:left;">
                                    <h1>You have selected an assignment!</h1>
                                    The tutee details are: 
                                    <ul>
                                        <li>Tutee Name: ${childName}</li>
                                        <li>Tutee's School: ${school}</li>
                                        <li>Tutee Level: ${Primary} ${level}</li>
                                    </ul>

                                    The parent details are: 
                                    <ul>
                                        <li>Parent's name: ${parentName}</li>
                                        <li>Parent's Phone Number: ${parentPhone}</li>
                                        <li>Parent's Email: ${parentEmail}</li>
                                        <li>Parent's location: ${location}</li>
                                    </ul>

                                    <div>
                                        <button type="button" class="btn btn-outline-success mb-3">Apply Now! </button>
                                    </div>
                                </div>
                                `;
                                
                        }
                        }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });
                            
                        
                        }
                    
                            
                            


            
        </script>
        <script>
          $.get("navbarTutor.html", function(data){
              $("#navbar").replaceWith(data);
          });
        </script>
            <script>
            var username  = "meep";
            // console.log(username)

            var get_all_URL = "http://localhost:5001/assignment";
            var get_user_URL = "http://localhost:5004/UserChild";
            // var place_order_URL = "http://localhost:5100/place_order";
    
            var app = new Vue({
                el: "#app",
                computed: {
                    hasAssignments: function () {
                        return this.assignments.length > 0;
                    }
                },
                data: {
                    userID: 1,
                    "assignments": [],
                    message: "There is a problem retrieving the assignment data, please try again later.",
                    childId: "",
                    subject: "",
                    location: "",
                    expectedPrice: "",
                    preferredDay: "",
                    assignmentAdded: false,
                    addAssignmentError: "",
                    createdAssignment: "",
                    assignmentCreated: false,
                    creationSuccessful: false,
                },
                methods: {
                    tutorcard: function() {
                    const response =
                        fetch(get_all_URL)
                            .then(response => response.json())
                            .then(data => {
                                console.log("bro");
                                console.log(response);
                                console.log("sis");
                                console.log(data.assignments)
                                if (data.code === 404) {
                                    // no book in db
                                    this.message = data.message;
                                } else {
                                    for (each of data.assignments){
                                    //NOT DONE YET
                                    // this.assignments += each.;
                                    console.log("zzz");
                                    console.log(each)
                                    // alert("For each assignemnt it willl loop")
                                    var subject = each.subject;
                                    console.log("SUbject is: ", subject);
                                    var primary = each.primary;
                                    var userID = each.userID;
                                    

                                    if (primary){
                                        primary = "Primary";
                                    }
                                    else {
                                        primary = "Secondary";
                                    }

                                    console.log("primary is: ", primary);

                                    var level = each.level;
                                    var price = each.expectedPrice;
                                    console.log("level");
                                    console.log(level);
                                    
                                    // alert(primary1)
                                    //alert(assignmentID);
                                    document.getElementById("tutorcard").innerHTML += `
                                    
                                        <div class="card border-dark mb-3" style="max-width: 18rem;">
                                            <div class="card-header black" style="text-align:center;">Assignment Details </div>
                                            <div class="card-body black" style="text-align:center;"><b>${primary} ${level} ${subject}</b> Tuition
                                                <p>Amount Offered: $${price}0/hour</p>
                                                
                                            
                                            </div>
                                            <div class="card-footer">
                                            <button type="button" class="btn btn-outline-primary" id="expand" onclick="toBeExpanded(${userID})">Check Offer</button>
                                            </div>
                                    </div>
                                    `;
                                    
                              }
                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            console.log(this.message + error);

                        });

                    },

                    // include childName, School, Pri, Lvl, userName, userPhone, loc


                    
                  },
                created: function () {
                    // on Vue instance created, load the book list
                    
                    this.tutorcard();
                    
                }
            });
        </script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
    $.get("navbarUser.html", function(data){
        $("#navbar").replaceWith(data);
    });
    </script>

    </body>
</html>