
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="../static/styles/allListings.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/a64b47fd82.js"></script>
        <link rel="stylesheet" href="../static/styles/testHome.css">
        <link rel="stylesheet" href="../static/styles/homeresponsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"> 
        <title>All Listings</title>
    </head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
   
    <body class="body1" onload="getAllOffers()" >
        
        <div id="navbarTutor"></div>
                    
    
        <div class="overlay" id="app">
            <h1 class='mt-3 header text-center display-4' id="offer_header">Offers Made</h1>

            <div class='container-fluid row mx-auto pt-3 pb-5 mt-3' id='listings'>
                <table class="table">
                  <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Preferred Pay</th>
                        <th scope="col">Preferred Day</th>
                        <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody id="insertData">
                    
                  </tbody>
                </table>
              </div>

<script>
  $.get("navbarTutor.html", function (data) {
      $("#navbarTutor").replaceWith(data);
  });
</script>

<script>
    
    // console.log(localStorage.getItem("tutorEmail"));
    // console.log(localStorage.getItem("tutorName"));
</script>

<script>
        function getAllOffers() {
            var tutorID = localStorage.getItem("tutorID") 
            const response = 

            fetch("http://localhost:5001/bothByTutor"+`/${tutorID}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.code === 404) {
                            this.message = data.message;
                        } else {
                            var no_of_offers = (data.message).length
                            console.log(data)
                            if (no_of_offers == 0){
                                document.getElementById("offer_header").innerHTML = "You have yet to send an offer!";
                                document.getElementById("listings").style.display = "none";
                            }
                            else {
                            document.getElementById("offer_header").innerHTML = `Offer history`;
                            document.getElementById("listings").style.display = "block";
                            
                            }
                            //console.log(data.offers)
                            //console.log(data.offers);
                            var count = 1
                            for (offer of data.message){
                                // console.log(offer[0].childName)
                                if (offer[0].primary) {
                                    primary = "Primary"
                                } else {
                                    primary = "Secondary"
                                }
                                if (offer[1].status == "accepted"){
                                document.getElementById("insertData").innerHTML += `
                                <tr>
                                    <th scope="row">${count}</th>
                                    <td>${offer[0].childName}</td>
                                    <td>${primary} ${offer[0].level} ${offer[0].subject}</td>
                                    <td>${offer[1].preferredDay}</td>
                                    <td>$${offer[1].expectedPrice}/hr</td>
                                    <td style="color:limegreen">${offer[1].status}</td>
                                </tr>
                                `}
                                else{
                                    document.getElementById("insertData").innerHTML += `
                                    <tr>
                                    <th scope="row">${count}</th>
                                    <td>${offer[0].childName}</td>
                                    <td>${primary} ${offer[0].level} ${offer[0].subject}</td>
                                    <td>${offer[1].preferredDay}</td>
                                    <td>$${offer[1].expectedPrice}/hr</td>
                                    <td style="color:yellow">${offer[1].status}</td>
                                </tr>
                                `
                                }
                                ;
                                
                                count++
                                
                            }
                            
                        }
                    })
                    .catch(error => { 
                        console.log(error)  
                    });
        }
    </script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
    $.get("navbarUser.html", function(data){
        $("#navbar").replaceWith(data);
    });
    </script>


    </body>
</html>