
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="../static/styles/allListings.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/a64b47fd82.js"></script>
        <link rel="stylesheet" href="../static/styles/testHome.css">
        <link rel="stylesheet" href="../static/styles/homeresponsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"> 
        <title>Tutor Search</title>
        <style>
          .pic{
              background-image: url("../images/emailDefault.jpg");
              background-repeat: no-repeat;
              background-size: contain;
              height: 100%;
          }
          .p-2{
              height: 400px;
          }
          .midText{
              background-color: #FAFAFA;
              width: 100%;
              text-align: center;
              color: grey;
          }

          .black{
              color: black;
          }

          .scrollable{
            overflow-y: auto;
            max-height: 360px;
            
            }
      </style>
    </head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    
   
    <body class="body1" >
        
    <div class="black" id="navbar"></div>      
    
        <div class="overlay" id="app">
            <h1 class='mt-3 header text-center display-4'>Tutor Search</h1>
            <div style="margin: 50px;">
                
                <div class="d-flex bd-highlight container">
                <!-- separate the cards from the expanded portion -->
                    <div id="tutorcard" class="bd-highlight scrollable">
                        
                    </div>
                    <div class="mx-3 flex-grow-1 bd-highlight midText">
                        <!-- add placeholder here -->
                        <div class="position-relative m-5 " >
                            <div>
                            </div>
                            <div id="expandedInfo">   
                            </div>
                        </div>
                    </div>
                    
                </div>
                

            </div>
        </div>

        <!--Modal-->
        <div class="modal fade" id="testModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLong">Create Offer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                        <form>
                            <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Selected Time</label>
                                        <input type="time" class="form-control" id="time" value="23:59" required>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Expected Price</label>
                                <input v-model="expectedPrice" type="number" class="form-control" id="expected_price" min="1" max="999.99" placeholder="Please enter the rates /hour" required>
                                </div>
                            </div>
                                <!-- Check box for preferred days -->
                                <label>Preferred Day</label>
                                <div class="form-row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="preferredDay" id="Mon" value="Mon">
                                            <label class="form-check-label" for="Mon">
                                            Monday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="preferredDay" id="Tue" value="Tue">
                                            <label class="form-check-label" for="Tue">
                                            Tuesday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="preferredDay" id="Wed" value="Wed">
                                            <label class="form-check-label" for="Wed">
                                            Wednesday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="preferredDay" id="Thu" value="Thu">
                                            <label class="form-check-label" for="Thu">
                                            Thursday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="preferredDay" id="Fri" value="Fri">
                                            <label class="form-check-label" for="Fri">
                                            Friday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="preferredDay" id="Sat" value="Sat">
                                            <label class="form-check-label" for="Sat">
                                            Saturday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="preferredDay" id="Sun" value="Sun">
                                            <label class="form-check-label" for="Sun">
                                            Sunday
                                            </label>
                                        </div>
                                    </div>

                                <div id="fancypokeball">
                                </div>
                            
                        </form> 
                </div>
                </div>
            </div>
        </div>

        <!--Navbar-->
        <script>
          $.get("navbarTutor.html", function(data){
              $("#navbar").replaceWith(data);
          });
        </script>
        <!--JAVASCRIPT scripts-->
<script>
    function toBeExpanded(assignmentId, userID){
        var element = document.getElementById("expandedInfo");
        const first = 
        fetch("http://localhost:5001/assignmentById/" + `${assignmentId}`)
        .then(first => first.json())
        .then(data=>{
            if (data.code ===404){
                message = data.message;
            } else {
                childName = data.childName
                subject = data.subject;
                price = data.expectedPrice;
                preferredDay = data.preferredDay;
            }
        })
            const response =
            fetch(get_user_URL+`/${userID}`)
                .then(response => response.json())
                .then(data => {
                    if (data.code === 404) {
                        // no response
                        message = data.message;
                    } else {
                        for (each of data.message){
                            if (each[1].childName ==childName){
                                var parentName = each[0].userName;
                                var parentPhone = each[0].userPhone;
                                var parentEmail = each[0].userEmail;
                                var location = each[0].loc;
                                var school = each[1].school;
                                var level = each[1].lvl;
                                var Primary = each[1].pri;
                                if(Primary){
                                    Primary = "Primary";
                                }
                                else{
                                    Primary = "Secondary"
                                }
                                document.getElementById("fancypokeball").innerHTML = `
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nerpppp</button>
                                <button type="button" class="btn btn-primary"  onclick="return createOffer(${assignmentId}, ${userID})" >Send Offer</button>
                                `;
                                document.getElementById("expandedInfo").innerHTML = `
                                <div class="black" style="text-align:left;">
                                    <h1>${Primary} ${level} ${subject} @ $${price}/hr</h1>
                                    The tutee details are: 
                                    <ul>
                                        <li>Tutee Name: ${childName}</li>
                                        <li>Tutee's School: ${school}</li>
                                        <li>Tutee Level: ${Primary} ${level}</li>
                                    </ul>

                                        The parent details are: 
                                        <ul>
                                            <li>Parent's name: ${parentName}</li>
                                            <li>Parent's Phone Number: ${parentPhone}</li>
                                            <li>Parent's Email: ${parentEmail}</li>
                                            <li>Parent's location: ${location}</li>
                                        </ul>
                                        <p>
                                        Preferred Day(s): ${preferredDay}
                                        </p>
                                        <button type="button" class="btn btn-outline-success mb-3" data-toggle="modal" data-target="#testModal" >Apply Now!</button>
                                    </div>
                                    `;
                                }
                        }
                    }
                })
                .catch(error => {
                    // Errors when calling the service; such as network error, 
                    // service offline, etc
                    console.log(this.message + error);

                });
                
                return false;
            }
    </script>
    <script>

    function createOffer(assignmentId, userID){
        tutorID = localStorage.getItem("tutorID")
        tutorName = localStorage.getItem("tutorName")
        tutorEmail = localStorage.getItem("tutorEmail")

        // alert("inside create")
        var time = document.getElementById("time").value;
        var expectedPrice = document.getElementById("expected_price").value;
        var preferredDay = $("input[type='radio'][name='preferredDay']:checked").val();
        json = {
            "assignmentId": assignmentId, 
            "expectedPrice": expectedPrice, 
            "preferredDay": preferredDay,
            "selectedTime": time, 
            "status": "pending", 
            "tutorEmail": tutorEmail,
            "tutorID": tutorID, 
            "tutorName": tutorName,
            "userID": userID
        };
        const response =
            fetch("http://localhost:5100/tutorOffers", {
                    method: "POST",
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify(json)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.code !== 201) {
                        // none returmed
                        message = data.message;
                        document.getElementById("modal-body").innerHTML = `
                        <p>Oops, there was an error sending the offer. It could be that you have already created an offer for this assignment. Try making an offer at another assignment!</p>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="refresh()">Okay</button>
                        `;
                    } else {
                        // alert("it went through???")
                        document.getElementById("modal-body").innerHTML = `
                        <p>Your offer has been made successfully!</p>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="refresh()">Okay</button>
                        `;
                        //NOT DONE YET
                        
                        

                    }
                })
                .catch(error => {
                    // Errors when calling the service; such as network error, 
                    // service offline, etc
                    console.log(error);
                    alert("Offer has previously been made")
                    document.getElementById("modal-body").innerHTML = `
                        <p>There was an error creating your offer, please try again later</p>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="refresh()">Okay</button>
                        `;
                }
                    
                    )


    }     
                            
                            
function refresh(){
    location.reload()
}

            
</script>


<!--VUE scripts-->
<script>


            var get_all_URL = "http://localhost:5001/assignment";
            var get_user_URL = "http://localhost:5004/UserChild";
    
            var app = new Vue({
                el: "#app",
                computed: {
                    hasAssignments: function () {
                        return this.assignments.length > 0;
                    }
                },
                data: {
                    userID: 1,
                    "assignments": [],
                    message: "There is a problem retrieving the assignment data, please try again later.",
                    childId: "",
                    subject: "",
                    location: "",
                    expectedPrice: "",
                    preferredDay: "",
                    selectedTime: 0,
                    addAssignmentError: "",
                    createdAssignment: "",
                    assignmentCreated: false,
                    creationSuccessful: false,
                },
                methods: {
                    tutorcard: function() {
                    const response =
                        fetch(get_all_URL)
                            .then(response => response.json())
                            .then(data => {
                                if (data.code === 404) {
                                    // no assignments returned
                                    this.message = data.message;
                                } else {
                                    for (each of data.assignments){
                                        if (each.tutorID ==0){

                                    var subject = each.subject;
                                    var primary = each.primary;
                                    var userID = each.userID;
                                    var assignmentId = each.assignmentId
                                    var preferredDay = each.preferredDay
                                    if (primary){
                                        primary = "Primary";
                                    }
                                    else {
                                        primary = "Secondary";
                                    }

                                    var level = each.level;
                                    var price = each.expectedPrice;
                                    

                                    document.getElementById("tutorcard").innerHTML += `
                                    
                                        <div class="card border-dark mb-3" style="max-width: 18rem;">
                                            <div class="card-header black" style="text-align:center;">Assignment Details </div>
                                            <div class="card-body black" style="text-align:center;"><b>${primary} ${level} ${subject}</b> Tuition
                                                <p>Amount Offered: $${price}/hour</p>
                                                <p>Preferred Day(s): ${preferredDay}</p>
                                                
                                            
                                            </div>
                                            <div class="card-footer">
                                            <button type="button" class="btn btn-outline-primary" id="expand" onclick="toBeExpanded(${assignmentId}, ${userID})">See More</button>
                                            </div>
                                    </div>
                                    `;
                                    }
                                }
                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            console.log(this.message + error);

                        });

                    },
                    
                },
                created: function () {
                    // on Vue instance created, load the cards
                    this.tutorcard();                    
                }
            });
        </script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
    $.get("navbarUser.html", function(data){
        $("#navbar").replaceWith(data);
    });
    </script>

    </body>
</html>